@charset "UTF-8";
@import url( 'https://fonts.googleapis.com/css2?família =Patrick + Mão&família =Sriracha&exibir = swap ');
@import url( 'https://fonts.googleapis.com/css2?família =Patrick + Mão&família =Sriracha&exibir = swap ');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Patrick Hand', cursive;
    --font3: 'Sriracha', cursive;

} 


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    color: white;
    background-color: darkgray;
    font-family: var(--font1);
}


header {
    background-color: black;
    color: white;
    text-align: center;
}
header>h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 5vw;
}
header>p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    color: rgba(255, 255, 255, 0.822);
    text-decoration: underline;
}


section{
    padding-top: 10%;
    padding: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 5px 10px;

}
section.normal{
    background-color: white;
    color: rgb(29, 29, 29);
}  
section.imagens{
    background-color: black;
    color: white;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
}